* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark-purple {
    background-color: #301934
}

.pt-10 {
    padding-top: 10%;
}
.text-purple {
    color: #C54B8C;
}
.btn-purple {
    color: #C54B8C;
    padding: 4px 18px;
    background-color: transparent;
    border: 1px solid #C54B8C;
    border-radius: 8px;
}

.btn-purple:hover {
    color: white;
    padding: 4px 18px;
    background-color: transparent;
    border: 1px solid #FE4EDA;
    border-radius: 8px;
    transition: 3s;
}

.nav-purple {
    color: #C54B8C;
    background-color: transparent;
    border: 1px solid #C54B8C;
    border-radius: 8px;
}
.container {
    transition: all .8s ease;
}
.nav-purple:hover {
    color: white;
    background-color: transparent;
    border: 1px solid #FE4EDA;
    border-radius: 8px;
    transition: 3s;
}
.border-purple {
    color: #C54B8C;
    padding: 4px 18px;
    background-color: transparent;
    border: 1px solid #C54B8C;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: white;
}


